.headstrip{
	border-bottom: 1px solid #E0E0E0;		
	background-color: white;				
}

.headerContainer{
	height: 50px;
	width: 100%;	
}
.title{
	height: 100%;
	width: 100%;
}
.title span{
	font-size: 22px;
	font-weight: bold;
}