.inputSuite{
	height: auto;
	width: 100%;
	margin-top: 12px;	
}

.inputLabel{
	height: 25px;
	width: 180px;
}
.inputWrap{
	height: 22px;
}
.inputNormal{
	height: 100%;
	width:240px;
	border:1px solid black;
	font-size: 14px;
	padding-left: 2px;
}
