.bodystrip{
	width: 100%;
	min-height: 555px;
	height: auto;
	background-color: #eeeeee;
	margin-top: 51px;
}

.bodyContainer{
	width: 100%;
	height: 200px;
	border:1px solid red;
}

.companytable{
	background-color: white;
}